<!DOCTYPE html>
<html lang="zh">
  <%- include('./templates/head') %>
  <body>
    <%- include('./templates/nav') %>

    <main class="backend-pannel">
      <div class="pannel__content container-lg">
        <ul class="nav nav-pills" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="prize-tab" data-bs-toggle="tab" data-bs-target="#prize" type="button" role="tab" aria-controls="prize" aria-selected="true">Prize</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="menu-tab" data-bs-toggle="tab" data-bs-target="#menu" type="button" role="tab" aria-controls="menu" aria-selected="false">Menu</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="faq-tab" data-bs-toggle="tab" data-bs-target="#faq" type="button" role="tab" aria-controls="faq" aria-selected="false">Faq</button>
          </li>
          <div class="ms-5 mt-2">點兩下編輯</div>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="prize" role="tabpanel" aria-labelledby="prize-tab">
            <div class="prizes row row-cols-1 row-cols-sm-2 row-cols-lg-3">
              <div class="col">
                <div class="prize card">
                  <!-- <img src="/static/images/2.png" class="prize-image card-img-top" alt="prize"> -->
                  <div class="prize__imageUrl card-header">
                    imageUrl：<br><input type="text" class="getImageUrl">
                  </div>
                  <div class="card-body">
                    <h5 class="prize__name card-title">
                      name：<br><input type="text" class="getName">
                    </h5>
                    <div class="prize__desc card-text">
                      description：<br><input type="text" class="getDescription">
                    </div>
                    <div class="prize__weight mt-2 card-text">
                      weight：<br><input type="number" class="getWeight">
                    </div>
                    <button type="button" class="prize-post mt-3 btn btn-primary" data-source="prize" data-http-method="POST">新增</button>
                  </div>
                </div>
              </div>

              <% for(prize of prizes) { %>
                <div class="col">
                  <div class="prize card">
                    <input type="hidden" class="prize-id" value="<%= prize.id %>">
                    <img src="<%= prize.imageUrl %>" class="prize-image card-img-top" alt="prize-image">
                    <div class="prize__imageUrl card-header">
                      <input type="text" class="imageUrl-input getImageUrl" value="<%= prize.imageUrl %>">
                      <div class="imageUrl-cover" data-content-head="imageUrl：">imageUrl：<%= prize.imageUrl %></div>
                    </div>
                    <div class="card-body">
                      <h5 class="prize__name card-title">
                        <input type="text" class="name-input getName" value="<%= prize.name %>">
                        <div class="name-cover" data-content-head="name：">name：<%= prize.name %></div>
                      </h5>
                      <div class="prize__desc card-text">
                        <input type="text" class="description-input getDescription" value="<%= prize.description %>">
                        <div class="description-cover" data-content-head="description：">description：<%= prize.description %></div>
                      </div>
                      <div class="prize__weight mt-2 card-text">
                        <input type="text" class="weight-input getWeight" value="<%= prize.weight %>">
                        <div class="weight-cover" data-content-head="weight：">weight：<%= prize.weight %></div>
                      </div>
                      <button type="button" class="prize-save mt-3 btn btn-primary" data-source="prize" data-http-method="PATCH"="">儲存</button>
                      <button type="button" class="prize-delete mt-3 btn btn-danger" data-source="prize" data-http-method="DELETE">刪除</button>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>

          <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="menu-tab">
            <div class="dishes row row-cols-1 row-cols-sm-2 row-cols-lg-3">
              <div class="col">
                <div class="dish card">
                  <!-- <img src="/static/images/2.png" class="prize-image card-img-top" alt="prize"> -->
                  <div class="dish__imageUrl card-header">
                    imageUrl：<br><input type="text" class="getImageUrl">
                  </div>
                  <div class="card-body">
                    <h5 class="dish__name card-title">
                      name：<br><input type="text" class="getName">
                    </h5>
                    <div class="dish__price mt-2 card-text">
                      price：<br><input type="number" class="getPrice">
                    </div>
                    <button type="button" class="dish-post mt-3 btn btn-primary" data-source="dish" data-http-method="POST">新增</button>
                  </div>
                </div>
              </div>

              <% for(dish of dishes) { %>
                <div class="col">
                  <div class="dish card">
                    <input type="hidden" class="dish-id" value="<%= dish.id %>">
                    <img src="<%= dish.imageUrl %>" class="dish-image card-img-top" alt="dish-image">
                    <div class="dish__imageUrl card-header">
                      <input type="text" class="imageUrl-input getImageUrl" value="<%= dish.imageUrl %>">
                      <div class="imageUrl-cover" data-content-head="imageUrl：">imageUrl：<%= dish.imageUrl %></div>
                    </div>
                    <div class="card-body">
                      <h5 class="dish__name card-title">
                        <input type="text" class="name-input getName" value="<%= dish.name %>">
                        <div class="name-cover" data-content-head="name：">name：<%= dish.name %></div>
                      </h5>
                      <div class="dish__price mt-2 card-text">
                        <input type="text" class="price-input getPrice" value="<%= dish.price %>">
                        <div class="price-cover" data-content-head="price：">price：<%= dish.price %></div>
                      </div>
                      <button type="button" class="dish-save mt-3 btn btn-primary" data-source="dish" data-http-method="PATCH">儲存</button>
                      <button type="button" class="dish-delete mt-3 btn btn-danger" data-source="dish" data-http-method="DELETE">刪除</button>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>

          <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
            <div class="faqs row row-cols-1 row-cols-sm-2 row-cols-lg-3">
              <div class="col">
                <div class="faq card">
                  <div class="card-body">
                    <h5 class="faq__card-title card-title">
                      title：<br><input type="text" class="getTitle">
                    </h5>
                    <div class="faq__content mt-2 card-text">
                      content：<br><input type="text" class="getContent">
                    </div>
                    <div class="faq__order mt-2 card-text">
                      order：<br><input type="number" class="getOrder">
                    </div>
                    <button type="button" class="faq-post mt-3 btn btn-primary" data-source="faq" data-http-method="POST">新增</button>
                  </div>
                </div>
              </div>

              <% for(faq of faqs) { %>
                <div class="col">
                  <div class="faq card">
                    <input type="hidden" class="faq-id" value="<%= faq.id %>">
                    <div class="card-body">
                      <h5 class="faq__card-title card-title">
                        <input type="text" class="title-input getTitle" value="<%= faq.title %>">
                        <div class="title-cover" data-content-head="title：">title：<%= faq.title %></div>
                      </h5>
                      <div class="faq__content mt-2 card-text">
                        <input type="text" class="content-input getContent" value="<%= faq.content %>">
                        <div class="content-cover" data-content-head="content：">content：<%= faq.content %></div>
                      </div>
                      <div class="faq__order mt-2 card-text">
                        <input type="number" class="order-input getOrder" value="<%= faq.order %>">
                        <div class="order-cover" data-content-head="order：">order：<%= faq.order %></div>
                      </div>
                      <button type="button" class="faq-save mt-3 btn btn-primary" data-source="faq" data-http-method="PATCH">儲存</button>
                      <button type="button" class="faq-delete mt-3 btn btn-danger" data-source="faq" data-http-method="DELETE">刪除</button>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./templates/footer') %> 
  </body>

</html>