<!DOCTYPE html>
<html lang="zh">
  <%- include('./templates/head') %>
  <body>
    <%- include('./templates/nav') %>

    <section class="banner">
      <h2>咬一口廚房</h2>
    </section>

    <section class="order">
      <h2 class="order__title">當輕食之風盛起</h2>
      <p>由於現代人生活忙碌，常以外食為主，當高糖、高鹽、高油成為人們的日常，會導致慢性疾病與肥胖的機率大增。<br />
        我們定期走訪農田，選用最天然、營養的食材，以簡單的烹調方式處理，最大化忠實呈現食材原本的鮮味。<br />
        咬一口不只賣餐點，我們希望能夠讓大家愛上料理的魅力，餐館特意打造全開放式廚房，烹調透明化，也不定時舉辦美食廚房DIY，讓大家體驗不需要過多調味，就能擁有千變萬化的食物口感。
      </p>

      <div class="order__buttons">
        <a class="btn btn__get-menu" href="<%= domain %>:<%= port %>/restaurant/menu">我要點餐</a>
        <a class="btn btn__inquiry">查詢訂單</a>
      </div>
    </section>

    <section class="menu">
      <h2 class="menu__title">Menu 搶先看</h2>

      <div class="dishes">
        <img src="<%= imagePath %>/f-001.png" alt="dish1">
        <img src="<%= imagePath %>/f-002.png" alt="dish2">
        <img src="<%= imagePath %>/f-003.png" alt="dish3">
        <img src="<%= imagePath %>/f-004.png" alt="dish4">
      </div>
    </section>

    <section class="comments">
      <h2 class="comments__title">吃過都說好</h2>

      <div class="comments__cards">
        <div class="card">
          <div class="card__author">
            <img src="<%= imagePath %>/p-1.png" alt="avatar">
            <p class="name">國父桑</p>
          </div>

          <p class="card__content">我一生疲於建國，去過日本，去過歐洲，卻從未到過台北101，也從來沒有吃過這麼好吃的東西...今天在時空旅行者的幫助下我終於吃到了...此生再無遺憾 QAQ!!</p>
        </div>

        <div class="card">
          <div class="card__author">
            <img src="<%= imagePath %>/p-2.png" alt="avatar">
            <p class="name">可達鴨</p>
          </div>

          <p class="card__content">三雙鞋等於30，兩個人加一雙鞋等於20，一雙冰淇淋加一雙冰淇淋加一個人等於13，那$#%$#%^%$^##$%等於多少...唉，大概咬一口就知道了!!!</p>
        </div>

        <div class="card">
          <div class="card__author">
            <img src="<%= imagePath %>/p-3.png" alt="avatar">
            <p class="name">旅かえる旅行青蛙</p>
          </div>

          <p class="card__content">自從呱呱呱呱呱以後，我呱呱呱呱呱，非常感謝呱呱呱呱呱，下次呱呱呱呱呱我呱呱呱呱呱，一定呱呱呱呱呱!!!呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱</p>
        </div>
      </div>
    </section>

    <section class="location">
      <h2 class="location__title">我們在哪裡</h2>

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d34387.055077779965!2d121.56717596897899!3d25.051243232275702!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9eec87122c3%3A0xbe4641f96f0e578a!2z5ZyL56uL5ZyL54i257SA5b-16aSo!5e0!3m2!1szh-TW!2stw!4v1624109251389!5m2!1szh-TW!2stw" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>

    <%- include('./templates/footer') %> 
  </body>
</html>
