<!DOCTYPE html>
<html lang="zh">

<head>
  <%- include('./template/head') %>
  <title>blog 文章</title>
</head>

<body>
  <%- include('./template/nav') %>

  <section class="banner">
    <h3 class="banner__title">存放技術之地</h3>
    <p class="banner__desc">Welcome to my blog</p>
  </section>

  <main>
    <div class="articles">
      <article>
        <div class="article__top">
          <h3 class="article__title"><%= post.title %></h3>
          <%- include('./template/post_action') %>
        </div>

        <div class="article__bottom">
          <div class="article__info">
            <span class="material-icons-outlined">access_time</span>
            <p class="article__timestamp"><%= post.created_at %></p>
            <span class="material-icons-outlined">folder</span>
            <p class="article__folder"><%= 'not ready' %></p>
          </div>

          <div class="article__content">
            <p><%= post.content %></p>
          </div>
        </div>
      </article>
    </div>
  </main>

  <footer>
    <p>Copyright © 2020 Who's Blog All Rights Reserved.</p>
  </footer>
</body>

</html>